{% extends 'hod_template/base_template.html' %} 
{% block page_title %}
Add Course
{% endblock page_title %}

{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Course Form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_courses_save" method="post">
              {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Course</label>
                    <input type="text" class="form-control" name="course" placeholder="Enter Course">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Course</button>
                </div>
              </form>
            </div>

            </div>
            <!-- /.card -->

          </div>
           <div class="row">
              {% if messages %}
              <div class="col-12">
                {%for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top: 20px">
                        {{message}}
                        </div>
                    {% endif %} 
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top: 20px">
                        {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
              </div>
              {% endif %}
            </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
{% endblock main_content %}


